* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Pragati Narrow', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --Translatex: -80px;
    --TranslateInfox: 0px;
    --WidthCard: 300px;
    --opacidad: 100%;
    --TranslateMsj: -200px;
    --heigth: 520px;
    --IndexCards: 0;
    --Widthborder: 0px;
    --CardTop: 400px;
    --ListaBootom: -400px;

    --MargenAmbos: 10% 40%;
    --AlturaAmbos: 500px;
    --opacidadLista: 0%;    
    --TamanoHeightLetra: 80%;
    --FontSize: 17px;
}

body {
    background-color: #181818;
    display: flex;
    min-height: 100vh;
}

.ContenedorCards {
    position: absolute;
    background-color: #181818;
    display: flex;
    margin: var(--MargenAmbos);
    justify-content: center;
    width: 500px;        
    height: var(--AlturaAmbos);
    overflow-y: scroll;
    transition: all 800ms;
    border: var(--Widthborder) solid white;
    z-index: var(--IndexCards);
    transform: translateX(var(--Translatex));
    opacity: var(--opacidadLista);       
}

.Menu {
    position: absolute;
    background-image: linear-gradient(to right top, #673250, #522e4c, #3e2a45, #2c243b, #1d1e2e, #1b2231, #1a2634, #192a36, #1b3c4a, #1a505b, #1d646a, #297974);
    background-color: white;
    border: 2px solid white;
    color: white;
    width: var(--WidthCard);
    height: var(--AlturaAmbos);
    padding: 2%;
    margin: var(--MargenAmbos);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 800ms;
    opacity: var(--opacidadLista);
    z-index: var(--IndexCards);
    transform: translateX(var(--TranslateInfox));
}

.Menu h1 {    
    margin-bottom: 2%;
    text-align: center;
    min-height: 10%;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;    
}

.Menu p {
    width: 100%;
    height: var(--TamanoHeightLetra);
    font-size: var(--FontSize);
    overflow-y: scroll;    
    opacity: var(--opacidad);
    transition: all 200ms;    
}

.Menu p:hover {
    /* color: #f5f5dc; */
}

.BotonResumen {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 80%;
    height: 10%;
    background-color: #181818;
    border: none;
    color: white;
    font-size: 18px;
    border: 2px solid white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 800ms;
    cursor: pointer;
}

.BotonResumen:hover{
    background-color:white ;
    color: black;
}


.Iconos-Opciones{
    position: absolute;
    right: 1%;    
    top: 1%;
    width: 120px;
    height: 30px;
    /* background-color: #181818; */
}

.BotonCopy, #btnEliminarCard, #btnFullCard, #btnFullExit, #btnEditarNota{
    fill: white;
    cursor: pointer;
    margin: 0% 2%;
    transition: all 500ms;    
}

#btnFullCard{
    position: absolute;
    right: 0%;      
    top: 0%;
}

#btnFullExit{
    position: absolute;
    top: 0%;
    right: 0%;    
    display: none;
}

#btnEliminarCard:hover {
    fill:  #f59d39 ;
}

.BotonCopy:hover, #btnFullCard:hover, #btnFullExit:hover, #btnEditarNota:hover{    
    fill: #181818;
}

.Boton:hover{
    background-color: #181818;
    color: white;
}

.ContenedorCards{   
    display: flex;
    justify-content: center;    
}

.ContenedorCards ul {
    margin-left: 25%;
    position: relative;
    transform: skewY(-15deg);    
}

.ContenedorCards ul li {    
    position: relative;
    list-style-type: none;
    display: flex;
    width: 200px;             
    background-color: #3e3f46;
    transition: all 400ms;
    z-index: var(--i);
    border: 1px solid white;    
}

.ContenedorCards ul li:hover {
    background-color: #3496bd;
    transform: translate(15px, 15px);
}

.ContenedorCards ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    border: 1px solid white;
    background-color: #3e3f46;
    transform-origin: right;
    transform: skewY(45deg);
    transition: all 400ms;            
}

.ContenedorCards ul li:hover:before {
    background-color: #3496db;
}


.ContenedorCards ul li::after {
    content: '';    
    position: absolute;
    top: -40px;
    left: 0px;
    width: 100%;
    height: 40px;
    border: 1px solid white;
    background-color: #3e3f46;
    transform-origin: bottom;
    transform: skewx(45deg);
    transition: 0.5s;
    transition: all 400ms;    
}

.ContenedorCards ul li:hover:after {
    background-color: #3496bd;
}


.ContenedorCards ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1%;
    text-align: center;
    margin: 5%;
    color: white;
    width: 100%;
    height: auto;
    /* background-color: red; */
}

.ContenedorCards ul li a:hover {
    color: white;    
}

.ContenedorCards ul li:last-child a {
    color: white;    
}
 
.ContenedorCards ul li:last-child a:hover {
    color: white;
}
/*
.ContenedorCards ul li:last-child:hover {
    background-color: red;
}

.ContenedorCards ul li:last-child:hover:after {
    background-color: red;
}

.ContenedorCards ul li:last-child:hover:before {
    background-color: red;
}

.ContenedorCards ul li:last-child::after {
    box-shadow: -100px 100px 10px rgb(0, 0, 0, 0.5);
}

.ContenedorCards ul li:last-child:hover:after {
    box-shadow: -100px 100px 10px red;
} */

.Texto {
    overflow: hidden;
    overflow-y: scroll;
    /* background-color: red; */
    height: 71%;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {

    body {
        min-height: 140vh;
    }

    .Contenedor {
        height: var(--heigth);
        margin: 170% 2.5%;
        width: 95%;
        /* background-color: red; */
        transform: translateY(var(--ListaBootom));
    }

    .Menu {
        width: 320px;
        height: 480px;
        margin: -20% 8%;
        /* background-color: blue; */
        transform: translateY(var(--CardTop));
    }

    .Boton {
        opacity: 0%;
    }

    .TextoCard {
        margin-top: 2%;
        height: 90%;
        padding: 2%;
        font-size: 18px;
    }

    #TituloCard {
        padding: 1%;
        width: 85%;
        min-height: 40px;
        /* background-color: red; */
    }

    .Mensaje {
        width: 300px;
        text-align: center;
        height: 50px;
        margin: 1% 12%;
    }

    #Enlace {
        margin: 2% auto;
    }


    .Imagen {
        position: absolute;
        /* background-color: red; */
        width: 200px;
        height: 200px;
        margin: 25% 25%;
    }
}